<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<header>
    <toolbar name="model.name" display-name="model.displayName" actions='actions'></toolbar>
</header>
<list-records fields="model.fields" records="records" actions="recordActions"></list-records>
<pagination ng-if="ctrl.itemsPerPage < ctrl.totalItems"
            total-items="ctrl.totalItems"
            max-size="5"
            ng-model="ctrl.currentPage"
            ng-change="ctrl.pageChanged()"
            items-per-page="ctrl.itemsPerPage"
            class="pagination-md" 
            boundary-links="true" 
            rotate="false">
</pagination>