<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html ng-app="mainApp">
<head>
<title>Stamps</title>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="bower_components/jquery/dist/jquery.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Markito Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Amaranth:400,700' rel='stylesheet' type='text/css'>
<!--//fonts-->

<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
        jQuery(document).ready(function($) {
                $(".scroll").click(function(event){		
                        event.preventDefault();
                        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
        });
</script>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
       
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-mocks/angular-mocks.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/lodash/lodash.js"></script>
        <script src="bower_components/restangular/dist/restangular.js"></script>
        <script src="bower_components/ng-crud/dist/ngcrud.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/ngstorage/ngStorage.js"></script>
        <script src="bower_components/checklist-model/checklist-model.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/csw-ng-auth/dist/csw-ng-auth.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js(<%= meta.src %>) scripts/scripts.js -->
        <!-- include: "type": "js", "files": "<%= meta.includeJsFiles %>" -->
        <script src="src/app.js"></script>
        <script src="src/auth.js"></script>
        <script src="src/modules/client/client.mod.js"></script>
        <script src="src/modules/item/item.mod.js"></script>
        <script src="src/modules/tShirt/tShirt.mod.js"></script>
        <script src="src/modules/stamp/stamp.mod.js"></script>
        <script src="src/modules/artist/artist.mod.js"></script>
        <script src="src/modules/category/category.mod.js"></script>
        <script src="src/modules/client/client.ctrl.js"></script>
        <script src="src/modules/client/instance/delete/client.delete.ctrl.js"></script>
        <script src="src/modules/client/instance/detail/client.detail.ctrl.js"></script>
        <script src="src/modules/client/instance/edit/client.edit.ctrl.js"></script>
        <script src="src/modules/client/list/client.list.ctrl.js"></script>
        <script src="src/modules/client/new/client.new.ctrl.js"></script>
        <script src="src/modules/item/item.ctrl.js"></script>
        <script src="src/modules/item/instance/delete/item.delete.ctrl.js"></script>
        <script src="src/modules/item/instance/detail/item.detail.ctrl.js"></script>
        <script src="src/modules/item/instance/edit/item.edit.ctrl.js"></script>
        <script src="src/modules/item/list/item.list.ctrl.js"></script>
        <script src="src/modules/item/new/item.new.ctrl.js"></script>
        <script src="src/modules/tShirt/tShirt.ctrl.js"></script>
        <script src="src/modules/tShirt/instance/delete/tShirt.delete.ctrl.js"></script>
        <script src="src/modules/tShirt/instance/detail/tShirt.detail.ctrl.js"></script>
        <script src="src/modules/tShirt/instance/edit/tShirt.edit.ctrl.js"></script>
        <script src="src/modules/tShirt/list/tShirt.list.ctrl.js"></script>
        <script src="src/modules/tShirt/new/tShirt.new.ctrl.js"></script>
        <script src="src/modules/stamp/stamp.ctrl.js"></script>
        <script src="src/modules/stamp/instance/category/edit/stamp.category.edit.ctrl.js"></script>
        <script src="src/modules/stamp/instance/category/list/stamp.category.list.ctrl.js"></script>
        <script src="src/modules/stamp/instance/delete/stamp.delete.ctrl.js"></script>
        <script src="src/modules/stamp/instance/detail/stamp.detail.ctrl.js"></script>
        <script src="src/modules/stamp/instance/edit/stamp.edit.ctrl.js"></script>
        <script src="src/modules/stamp/list/stamp.list.Highlighted.ctrl.js"></script>
        <script src="src/modules/stamp/list/stamp.list.latest.ctrl.js"></script>
        <script src="src/modules/stamp/list/stamp.list.ctrl.js"></script>
        <script src="src/modules/stamp/new/stamp.new.ctrl.js"></script>
        <script src="src/modules/artist/artist.ctrl.js"></script>
        <script src="src/modules/artist/instance/delete/artist.delete.ctrl.js"></script>
        <script src="src/modules/artist/instance/detail/artist.detail.ctrl.js"></script>
        <script src="src/modules/artist/instance/edit/artist.edit.ctrl.js"></script>
        <script src="src/modules/artist/list/artist.list.ctrl.js"></script>
        <script src="src/modules/artist/list/artist.list.highlighted.ctrl.js"></script>
        <script src="src/modules/artist/new/artist.new.ctrl.js"></script>
        <script src="src/modules/category/category.ctrl.js"></script>
        <script src="src/modules/category/instance/delete/category.delete.ctrl.js"></script>
        <script src="src/modules/category/instance/detail/category.detail.ctrl.js"></script>
        <script src="src/modules/category/instance/edit/category.edit.ctrl.js"></script>
        <script src="src/modules/category/list/category.list.ctrl.js"></script>
        <script src="src/modules/category/new/category.new.ctrl.js"></script>
        <script src="src/modules/store/store.ctrl.js"></script>
        <!-- Controladores stampCommentary-->
        <script src="src/modules/stampCommentary/stampCommentary.mod.js"></script>
        <script src="src/modules/stampCommentary/stampCommentary.ctrl.js"></script>
        <script src="src/modules/stampCommentary/list/stampCommentary.list.ctrl.js"></script>
        <script src="src/modules/stampCommentary/new/stampCommentary.new.ctrl.js"></script>
        <script src="src/modules/stampCommentary/instance/delete/stampCommentary.delete.ctrl.js"></script>
        <script src="src/modules/stampCommentary/instance/detail/stampCommentary.detail.ctrl.js"></script>
        <script src="src/modules/stampCommentary/instance/edit/stampCommentary.edit.ctrl.js"></script>
        <script src="src/modules/stamp/instance/commentariesStamp/edit/stamp.commentariesStamp.edit.ctrl.js"></script>
        <script src="src/modules/stamp/instance/commentariesStamp/list/stamp.commentariesStamp.list.ctrl.js"></script>
       
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="js/simpleCart.min.js"> </script>

</head>
<body> 
<!--header-->	
<div class="header" >
	<div class="top-header" >		
		<div class="container">
		<div class="top-head" >
			<div class="header-para">
				<ul class="social-in">
					<li><a href="#"><i> </i></a></li>						
					<li><a href="#"><i class="ic"> </i></a></li>
					<li><a href="#"><i class="ic1"> </i></a></li>
                                        <li><a href="#/new"><img src="images/newIcon.png" height="42" width="42"/></a></li>
                                        <li><a href="#/bestArtist"><img src="images/artist.png" height="32" width="32"/></a></li>
                                        <li><a> <login-button></login-button></a></li>
                                        

					
				</ul>			
			</div>	
			
			  
		</div>
		</div>
	</div>
		<!---->
	
		<div class="header-top">
		<div class="container">
		<div class="head-top">
			<div class="logo">
				<a href="#/stampsGallery"><img src="images/logo.png" alt="" ></a>
			</div>
		<div class="top-nav">		
			  <ul class="megamenu skyblue"  ng-controller="roleCtrl">
				 <li ng-if="client"><a ui-sref="clientList">Client</a></li>
                                <li ng-if="tShirt"><a ui-sref="tShirtList">T Shirt</a></li>
                                <li ng-if="artist"><a ui-sref="artistList">Artist</a></li>
                                <li ng-if="category"><a ui-sref="categoryList">Category</a></li>
                                <li ng-if="stampCommentary"><a ui-sref="stampCommentaryList">Commentary</a></li>
			
				
			  </ul> 
		</div>
		<div class="cart box_1">
                    <a href="checkout.html">
			<h3> <div class="total">
			<span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>
			<img src="images/cart.png" alt=""/></h3>
			</a>
			<p><a href="javascript:;" class="simpleCart_empty"><img src="images/cart-c.png"  alt=""></a></p>
			<div class="clearfix"> </div>
		</div>
		
				<div class="clearfix"> </div>
		</div>
		</div>
	</div>

<div class="content">
                                       <div ui-view="mainView"> 
</div>
	<div class="container">
		<div class="content-top">
		<h2 class="new" ></h2>
		<div class="pink">
			<!-- requried-jsfiles-for owl -->
		<link href="css/owl.carousel.css" rel="stylesheet">
		<script src="js/owl.carousel.js"></script>
			<script>
				$(document).ready(function() {
					$("#owl-demo").owlCarousel({
						items : 4,
						lazyLoad : true,
						autoPlay : true,
						pagination : true,
					});
				});
			</script>
                        
     
		<!-- //requried-jsfiles-for owl -->
			
			
		</div>
		
		 </div>
	
		<!---->
	<div class="content-middle">
		<h2 class="middle">BEST SALES</h2>
		<div class="col-best">
			<div class="col-md-4">
				<a href="single.html"><div class="col-in">
					<div class="col-in-left">
						<img src="images/ni.jpg" class="img-responsive" alt="">
					</div>
					</a>
					<div class="col-in-right grid_1 simpleCart_shelfItem">
						<h5>fuel t-shirt  mod : 9509</h5>
						<ul class="star">
							<li><a href="#"><i> </i> </a> </li>
							<li><a href="#"><i> </i> </a> </li>
							<li><a href="#"><i> </i> </a> </li>
							<li><i class="in-star"> </i>  </li>
						</ul>
						<!---->
						<a href="#" class="item_add"><span class="white item_price" >123 $ <i> </i> </span></a>
						<!---->
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4">
				<a href="single.html"><div class="col-in">
					<div class="col-in-left">
						<img src="images/ni1.jpg" class="img-responsive" alt="">
					</div>
					</a>
					<div class="col-in-right grid_1 simpleCart_shelfItem">
						<h5>fuel t-shirt  mod : 9509</h5>
						<ul class="star">
							<li><i> </i>  </li>
							<li><i> </i>  </li>
							<li><i> </i>  </li>
							<li><i class="in-star"> </i>  </li>
						</ul>
						<!---->
						<a href="#" class="item_add"><span class="white item_price" >123 $ <i> </i> </span></a>
						<!---->
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4">
				<a href="single.html"><div class="col-in">
					<div class="col-in-left">
						<img src="images/ni.jpg" class="img-responsive" alt="">
					</div>
					</a>
					<div class="col-in-right grid_1 simpleCart_shelfItem">
						<h5>fuel t-shirt  mod : 9509</h5>
						<ul class="star">
							<li><i> </i>  </li>
							<li><i> </i>  </li>
							<li><i> </i>  </li>
							<li><i class="in-star"> </i>  </li>
						</ul>
						<!---->
						<a href="#" class="item_add"><span class="white item_price" >123 $ <i> </i> </span></a>
						<!---->
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
        <!--  Store -->
        
        <div class="content" style="text-align:center" ng-controller="storeCtrl">
            <h1 class="middle">Store</h1>
  
            
            <div class="input-group input-group-lg" style="margin: 0 auto; max-width:500px">
                <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon1"></span>
                <input ng-model="searchText" type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon1">
            </div>
        
        
        <div class="item" ng-repeat="stamp in stamps | filter:searchText">
				<div class="box-in col-md-4">
                                    <h2>{{stamp.name}}</h2>
			<div class="grid_box ">		
							 <a href="" > <img ng-src="{{stamp.image}}" class="img-responsive" alt="">
							 	<div class="zoom-icon">
							 		
									<ul class="in-by">
										<li><h5>TShirt:</h5></li>                     
										<li ng-repeat="shirt in shirts"><span>{{shirt.name}} {{shirt.price}}$</span></li>
									</ul>
                                                                    
                                                                        <ul class="in-by">
                                                                            <li><span class="glyphicon glyphicon-heart"></span></li>
										<!--<li><span class="glyphicon glyphicon-shopping-cart"></span></li>-->
									</ul>
					
					
						<!--<ul class="in-by-color">
							<li><h5>colors:</h5></li>                   
							<li><span > </span></li>
							<li><span class="color"> </span></li>
							<li><span class="color1"> </span></li>
							<li><span class="color2"> </span></li>
							<li><span class="color3"> </span></li>
							
						</ul> -->
					
						</div> </a> 	
		           </div>
					
						<div class="grid_1 simpleCart_shelfItem">
							<a class="cup item_add"><span class=" item_price" >{{stamp.price}} $ <i> </i> </span></a>					
						</div>
					
				</div>
			</div>
        
                
                
        </div>
                
	<!---
		
			<div class="content-bottom">
				<div class="col-md-8 latter">
					<h6>NEWSLETTER</h6>
					<p>sign up now to our newsletter discount! to get the Welcome discount</p>
					
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 latter-right">
					
						<form>
						<div class="join">
							<input type="text" value="your email here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'your email here';}">
							<i> </i>
						</div>
							<input type="submit" value="join us">
						</form>
						
				</div>
				<div class="clearfix"> </div>
			</div>

	
	<div class="bottom-content">
	
			<div class="col-md-4">
				<img src="images/ad1.png" class="img-responsive" alt="">
			</div>
			<div class="col-md-4">
				<img src="images/ad1.png" class="img-responsive" alt="">
			</div>
			<div class="col-md-4">
				<img src="images/ad1.png" class="img-responsive" alt="">
			</div>
			<div class="clearfix"> </div>
		</div>--->
	
	</div>
</div>
	<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="col-md-3 footer-left">
				<a href="index.html"><img src="images/logo.png" alt=""></a>
				<p class="footer-class">© 2015 Markito All Rights Reserved | Template by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
			</div>
			<div class="col-md-2 footer-middle">
				<ul>
					<li><a href="404.html">about us</a> </li>
					<li><a href="contact.html">   contact us</a></li>
					<li ><a href="products.html" >  our stores</a></li>
				</ul>
			</div>
			<div class="col-md-4 footer-left-in">
				<ul class="term">
					<li><a href="#">terms and conditions</a> </li>
					<li><a href="#">  markito in the press</a></li>
					<li ><a href="#" >  testimonials</a></li>	
				</ul>
				<ul class="term">
					<li><a href="#">join us</a> </li>
					<li><a href="#">  markito videos</a></li>
					
				</ul>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 footer-right">
				<h5>WE SUPPORT</h5>
				<ul>
					<li><a href="#"><i> </i></a> </li>
					<li><a href="#"><i class="we"> </i></a></li>
					<li ><a href="#" ><i class="we-in"> </i></a></li>
					<li ><a href="#" ><i class="we-at"> </i></a></li>
					<li ><a href="#" ><i class="we-at-at"> </i></a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

	</div>
</div>
</body>
</html>
