<!DOCTYPE html>
<header>
    <toolbar name="model.name" display-name="model.displayName" actions='actions'></toolbar>
</header>
<div class="content">
    <div class="container">
	<div class="content-top">
            <div id="wrapper" >    
                <div id="yourdiv" style="display: inline-block;">
                    <div class="row">
			<div class="item col-md-3" ng-repeat="item in records" >
                            <div class=" box-in">
                                <div class=" grid_box">		
                                    <a ng-href="#artists/{{item.stamp.artist.id}}/details/stamps/{{item.stamp.id}}/details" target="_blank"><img style="width: 250px;height: 250px" class="img-responsive" ng-src="{{item.stamp.image}}"></a> 
                                    <div class="zoom-icon">
                                        <ul class="in-by">
                                            <li><h5>Name:</h5></li>                     
                                            <li><span>{{item.stamp.name}}</span></li>
                                        </ul>
                                    </div> 
                                    <div class="grid_1 simpleCart_shelfItem">
                                        <a href="#" class="cup item_add">
                                            <span class=" item_price" >{{item.stamp.price| currency}}  </span>
                                            <!--
                                            <ul class="in-by" ng-if="client && clientObject">
                                                <li ng-click="addToCardList(stamp1)"><span class="glyphicon glyphicon-shopping-cart"></span></li>
                                            </ul>
                                            -->
                                        </a>
                                    </div>
                                </div>
                            </div>
			</div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
